<?xml version="1.0"?>
<launch>
    
    <!-- Files -->
    <arg name="map_file" default="$(find sandbox)/thesiscover/yaml"/>
    <arg name="octomap_file" default="$(find sandbox)/thesiscover/octomap.ot"/>
    <arg name="config_file" default="$(find sandbox)/thesiscover/ed_config.yaml"/>
    
    <!-- Load robot models -->
    <group ns="amigo">
        <param name="robot_description" textfile="$(find amigo_description)/urdf/amigo.urdf"/>
        <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
            <rosparam command="load" file="$(find amigo_bringup)/parameters/essentials/robot_state_publisher.yaml" />
        </node>
        
        <!-- Static tf publisher for robot pose-->
        <node pkg="tf" type="static_transform_publisher" name="base_pose_pub" args="-3.0 0.0 0.0 0 0 0 1 /map /amigo/base_link 100" />
        
        <!-- Joint state publisher -->
        <node pkg="sandbox" type="amigo_jointstates.py" name="jointstate_publisher"/>
    </group>
    
    <group ns="sergio">
        <param name="robot_description" textfile="$(find sergio_description)/urdf/sergio.urdf"/>
        <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
            <rosparam command="load" file="$(find sergio_bringup)/parameters/essentials/robot_state_publisher.yaml" />
        </node>
        
        <!-- Static tf publisher for robot pose-->
        <!--<node pkg="tf" type="static_transform_publisher" name="base_pose_pub" args="3.0 0.0 0.0 -0.87 0 0 /map /sergio/base_link 100" />-->
        <node pkg="tf" type="static_transform_publisher" name="base_pose_pub" args="3.0 -0.5 0.0 -0.87 0 0 /map /sergio/base_link 100" />
        
        <!-- Joint state publisher -->
        <node pkg="sandbox" type="sergio_jointstates.py" name="jointstate_publisher"/>
    </group>
    
    <!-- Loc map -->
    <node pkg="map_server" type="map_server" name="loc_map_server" args="$(arg map_file)"/>
    
    <!-- Octomap -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(arg octomap_file)">
        <param name="resolution" value="0.025"/>
    </node>
    
    <!-- ED -->
    <group ns="amigo">
        <node pkg="ed" type="ed" name="ed" args="$(arg config_file)"/>
    </group>
    <node pkg="ed_gui_server" type="ed_rviz_publisher" name="ed_rviz_publisher">
        <remap from="/ed/gui/entities" to="/amigo/ed/gui/entities"/>
        <remap from="/ed/gui/query_meshes" to="/amigo/ed/gui/query_meshes"/>
        <remap from="/ed/rviz" to="/amigo/world_model"/>
    </node>

</launch>
